main.main-home {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section.section-main {
    background: #0074E5;
    background: -webkit-linear-gradient(90deg,rgba(0, 116, 229, 1) 0%, rgba(0, 116, 229, 1) 75%, rgba(130, 187, 242, 1) 100%);
    background: -moz-linear-gradient(90deg,rgba(0, 116, 229, 1) 0%, rgba(0, 116, 229, 1) 75%, rgba(130, 187, 242, 1) 100%);
    background: linear-gradient(90deg,rgba(0, 116, 229, 1) 0%, rgba(0, 116, 229, 1) 75%, rgba(130, 187, 242, 1) 100%);
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    min-height: 450px;
    align-content: center;
}

img.img-main {
    position: absolute;
    bottom: 0px;
    right: 2rem;
}

.title-main {
    width: calc(100% - 2rem - 400px);
    color: #fff;
}

.title-main h1 {
    font-weight: 700;
    margin-bottom: 1rem;
}

.title-main p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.section-quality {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.item-quality {
    padding: 1rem;
    border-radius: 10px;
    color: #35373E;
    text-align: center;
}

.img-quality {
    background: #0074e5;
    min-width: 120px;
    min-height: 120px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.item-quality h5 {
    font-weight: 600;
    margin-bottom: 10px;
}

.item-quality p {
    font-weight: 500;
}

.section-about {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    padding: 5rem 0;
    border-top: 1px solid #f0f0f0;
}

.section-about > div {
    width: 50%;
}

.section-about .area-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h6.tag-section {
    background-color: #0074e5;
    color: #fff;
    display: inline-flex;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.section-about h2 {
    font-weight: 700;
    margin-bottom: 1rem;
}

.section-about p {
    font-size: 18px;
}

.section-depoiments {
    text-align: center;
}

.section-depoiments h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 700;
}

.splide__list li.splide__slide {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

div#splide-depoimentos-track {
    padding: 1px !important;
}

.splide__pagination {
    bottom: -1.5rem;
}

.splide__pagination__page {
    width: 10px;
    height: 10px;
    transform: none !important;
}

.splide__pagination__page.is-active,
.splide__arrow {
    background-color: #0074E5;
}

.splide__arrow svg {
    fill: #fff;
    width: 12px;
    height: 12px;
}

section#splide-depoimentos {
    margin-bottom: 2.5rem;
}

.section-depoiments .area-img {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

p.name-depoiment {
    font-weight: 600;
    margin: 10px 0;
}

@media (max-width: 1200px) {
    .section-about .area-img img {
        width: 500px;
    }
}

@media (max-width: 1100px) {
    .title-main {
        width: 100%;
    }
    .title-main p {
        margin-bottom: 0px;
    }
    img.img-main {
        position: relative;
        bottom: calc(0px - 2rem);
        right: -50%;
        transform: translateX(-50%);
    }
    section.section-main {
        background: #0074E5 !important;
    }
}

@media (max-width: 900px) {
    .section-about {
        flex-direction: column;
        margin-top: 0px;
        padding: 2rem 0;
    }
    .section-about > div {
        width: 100% !important;
        display: inline-grid;
    }
    .section-about h6.tag-section {
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    .section-about .area-img img {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .section-quality {
        flex-direction: column;
    }
    .img-quality {
        min-width: 100px;
        min-height: 100px;
        width: 100px;
        height: 100px;
    }
    .img-quality img {
        width: 65px;
    }
}

@media (max-width: 600px) {
    img.img-main {
        width: 100%;
    }
    .splide__arrow {
        width: 1.5em;
        height: 1.5em;
    }
    .splide__arrow--prev {
        left: -0.5rem;
    }
    .splide__arrow--next {
        right: -0.5rem;
    }
}