footer.footer {
    background-color: #0074e5;
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5rem;
    padding: 3rem;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-right {
    display: flex;
    align-items: flex-start;
    gap: 5rem;
    min-width: 400px;
}

p.footer-title {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

ul.footer-list a {
    display: inline-block;
    padding: 2px 0;
    color: #fff;
    margin-bottom: 5px;
}

ul.footer-list a:hover {
    color: #004285;
}

.logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
}

@media (max-width: 900px) {
    footer.footer {
        flex-direction: column;
        gap: 2rem;
        padding: 3rem 2rem;
    }
    .footer-right {
        min-width: 100%;
        gap: 3rem;
    }
    .footer-box-links {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .logo-footer {
        max-width: 120px;
    }
    .logo-footer img {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .footer-right {
        flex-wrap: wrap;
        gap: 2rem;
    }
}