#modalCreateService .item-input {
    flex-direction: column;
}

#modalCreateService .item-input label {
    display: block;
    width: 100%;
    text-align: left;
    font-weight: 500;
    margin-bottom: 5px;
}

#modalCreateService .item-input input {
    border-radius: 5px;
}